@import "../../../styles.scss";

* {
  background: white;
}

.inner-container {
  width: 81%;
  flex-direction: column;
}

.g1 {
  display: grid;
  grid-template-columns: 1.5fr 0.5fr 0.5fr 0.5fr;
  width: 100%;
}

.footer {
  display: block;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: linear-gradient(
    to bottom,
    rgba(242, 248, 244, 0.9) 0%,

    #fff 5.5%,
    #fff 50%,
    #fff 75%,
    #fff 100%
  );
}

.content {
  display: flex;
  width: 100%;
  gap: 2.5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    to bottom,
    rgba(242, 248, 244, 0.7) 0%,
    #fff 15%,
    #fff 100%
  );
}

.txt {
  font-size: 2.2rem;
  font-weight: 400 !important;
  color: $piggy-black-text;
  font-family: $piggy-font-family-bold;
  background: transparent;
}

.logo-content {
  display: flex;
  width: 90%;
  // height: 2rem;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;

  .logo {
    display: flex;
    max-width: 40%;
    // padding: 0 1rem;
    justify-content: center;
    align-items: center;
    scale: 1;

    img {
      width: 90%;
      height: 100%;
      object-fit: fill;
    }

    // .scale-img {
    //   scale: 1;
    // }
  }
  .scale-img1 {
    scale: 0.5;
  }
}

.compliance {
  display: flex;
  margin-left: 2.5rem;

  img {
    height: 38%;
    scale: 1;
    width: 100%;
  }
}

footer {
  display: flex;
  width: 100%;
  padding: 10rem 2rem;
}

.footer-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.top-content {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  padding-bottom: 4rem;

  .container {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    gap: 1rem;

    .txt {
      font-size: 1rem;
    }
  }

  .logo {
    width: 54%;
    img {
      width: 100%;
    }
  }
}

.bottom-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1.5rem 0;
  border-top: 0.02rem solid hsla(0, 0%, 74.1%, 0.5215686275);

  .content {
    display: flex;
    width: 60%;
    gap: 2rem;
    align-items: flex-start;

    .text {
      font-size: 0.68rem;
      line-height: 1.5rem;
      letter-spacing: 0rem;
    }

    .text-style {
      color: #083e9e;
    }

    .text-width {
      width: 70%;
    }
  }
}

.text {
  color: #3d4f60;
  font-weight: 300 !important;
  font-family: $piggy-font-family;
  letter-spacing: -0.02rem;
  font-size: 0.85rem;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-self: normal;
  gap: 1rem;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 55%;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: end;
  height: 100%;
  gap: 1rem;
}

@media screen and (max-width: 993px) {
  .footer {
    display: flex;
    background: linear-gradient(
      to bottom,
      rgba(242, 248, 244, 1) 0%,
      #fff 2.5%,
      #fff 100%
    );
  }

  .content {
    background: linear-gradient(
      to bottom,
      rgba(242, 248, 244, 0.4) 0%,
      #fff 11%,
      #fff 100%
    );

    // .txt {
    //   background: linear-gradient(
    //     to bottom,
    //     rgba(242, 248, 244, 0.7) 0%,
    //     #fff 30%,
    //     #fff 100%
    //   );
    // }
  }
  .logo-content {
    display: flex;
    flex-wrap: wrap;
    .logo {
      height: 9%;
      width: 30%;
      img {
        scale: 1;
        width: 80%;
      }

      .scale-img {
        scale: 1.2;
      }
    }
  }

  .inner-container {
    max-width: 100%;
    margin: 0;
  }

  .footer-content {
    .top-content {
      display: flex;
      flex-direction: column;
    }
  }

  .g1 {
    display: grid;
    max-width: 100%;
    grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr;
  }
}
