@import "../../../styles.scss";

nav {
  padding: 1.5rem 0.3rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
  transition: all 0.2s ease-in-out;
  background: $piggy-bg-color;

  &.scrolled {
    background: #fff !important;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
}

a {
  text-decoration: none;
  color: $piggy-black-text;
  // margin: 0;
  width: 100%;
  margin: 0;
  p {
    margin: 0;
    padding: 0;
  }
}


.btn-filled,
.btn-outlined {
  align-items: center;
  justify-content: center;
}

.btn-filled {
  a {
    color: #fff;
  }
}

.logo {
  margin-right: 0.5rem;

  img {
    width: 85%;
  }
}

.logo,
.logo-container,
.inner-container,
.nav-contents,
.btn-container,
.btn-outlined,
.btn-filled {
  &.scrolled {
    background: #fff !important; // Add your desired background color
  }
}

@media screen and (max-width: $tablet-width) {
  nav {
    padding: 1.5rem 0.3rem;
  }
  .inner-container {
    max-width: 90%;
  }
}

@media screen and (max-width: 993px) {
  nav {
    display: none;
  }
}
